/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
    
.display-flex {
    display: flex;
    gap: 68px;
}
*/

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 50px;
    padding: 12px 52px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    background-color: hsl(213, 100%, 53%);
    font-size: 18px;
    color: hsl(213, 100%, 100%);
    line-height: 1.45;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.btn:hover {
    background-color: hsl(213, 100%, 65%);
}

.btn:active {
    background-color: hsl(213, 92%, 41%);
}

.btn--secondary {
    border-color: hsl(213, 100%, 53%);
    background-color: hsl(213, 100%, 100%);
    color: hsl(213, 100%, 53%);
}

.btn--secondary:hover {
    border-color: hsl(213, 100%, 65%);
    color: hsl(213, 100%, 65%);
    background-color: hsl(213, 100%, 100%);
}

.btn--secondary:active {
    border-color: hsl(213, 92%, 41%);
    color: hsl(213, 92%, 41%);
}

.text--link {
    border: none;
    background-color: hsl(213, 100%, 100%);
    color: hsl(213, 100%, 53%);
}

.text--link:hover {
    color: hsl(213, 100%, 65%);
    background-color: transparent;
}

.text--link:active {
    color: hsl(213, 92%, 41%);
}

.btn, 
[disabled]
{
    opacity: 0.2;
    cursor: not-allowed;
}

.btn--secondary, 
[disabled]
{
    opacity: 0.2;
    cursor: not-allowed;
}

.text--link,
[disabled] 
{
    opacity: 0.2;
    cursor: not-allowed;
}