/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
    
.display-flex {
    display: flex;
    gap: 68px;
}
*/

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 50px;
    padding: 12px 52px;
    outline: none;
    /*ponemos el borde descompuesto pero con color tranparent para que ocupe lo mismo que los botones
    que tengan borde, lo descomponemos porque si despues solo tenemos que cambiar una opcion es 
    más fácil*/
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    background-color: hsl(213, 100%, 53%);
    font-size: 18px;
    color: hsl(213, 100%, 100%);
    line-height: 1.45;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: hsl(213, 100%, 65%);
    }

    &:active {
        background-color: hsl(213, 92%, 41%);
    }

    &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }
}

.btn--secondary {
    border-color: hsl(213, 100%, 53%);
    background-color: hsl(213, 100%, 100%);
    color: hsl(213, 100%, 53%);

    &:hover {
        border-color: hsl(213, 100%, 65%);
        color: hsl(213, 100%, 65%);
        background-color: hsl(213, 100%, 100%);
    }

    &:active {
        border-color: hsl(213, 92%, 41%);
        color: hsl(213, 92%, 41%);
    }

    &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }
}

.text--link {
    border: none;
    background-color: hsl(213, 100%, 100%);
    color: hsl(213, 100%, 53%);

    &:hover {
        color: hsl(213, 100%, 65%);
        background-color: transparent;
    }

    &:active {
        color: hsl(213, 92%, 41%);
    }

    &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }
}
